.navContainer {
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #e8edf6;
  z-index: 2;
  font-family: sans-serif;
}
.navContainer .nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 1.5vh;
  position: relative;
}
.navContainer .logo {
  display: inline-block;
}
.navContainer .logo img {
  max-width: 10vw;
}
.navContainer .links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navContainer .links span {
  padding: 10px;
}
.navContainer .links a {
  padding: 10px;
  color: #213e7f;
  font-size: 14px;
  text-decoration: none;
}
.navContainer .links a:hover {
  color: #162a57;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .navContainer.lg {
    display: none;
  }
  .navContainer.sm {
    position: sticky;
    top: 0px;
  }
  .navContainer.sm .nav {
    max-width: 100%;
    padding: 10px;
  }
  .navContainer.sm .nav .links {
    display: none;
  }
  .navContainer.sm .logo {
    max-width: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .navContainer.sm .logo img {
    max-width: 40vw;
    transform: scale(0.8, 0.8);
  }
  .navContainer.sm .toggle {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navContainer.sm .toggle > div {
    padding: 3px;
    background-color: #213e7f;
  }
}
@media screen and (min-width: 1081px)  {
  .navContainer.sm {
    display: none;
  }
}
.navContainer .dropdown {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px #424242;
  display: none;
}
.navContainer .dropdown .links {
  padding-top: 2vh;
  padding-bottom: 2vh;
  flex-direction: column;
}
.hero {
  height: 600px;
  width: 90vw;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
  background-image: url('./images/hero1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 10vw;
}
.hero h1,
.hero h2 {
  margin: 0px;
  text-shadow: 0px 0px 3px #424242;
}
.hero h2 {
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.hero p {
  margin: 0px;
  margin-bottom: 1vh;
  padding: 0px;
  max-width: 450px;
  line-height: 1.5;
  font-family: sans-serif;
}
.hero .cta {
  margin-top: 1vh;
  padding: 1vw 2vw;
  display: inline-block;
  width: -moz-max-content;
  color: white;
  background-color: #F26821;
  text-decoration: none;
  font-family: sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .hero {
    width: 95vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .hero h1,
  .hero h2 {
    text-shadow: none;
    text-shadow: 0px 0px 2px #4242429a;
  }
  .hero .cta {
    margin-top: 1vh;
    padding: 3vw 4vw;
    display: inline-block;
    width: -moz-min-content;
    max-width: 200px;
    color: white;
    background-color: #F26821;
    text-decoration: none;
    font-family: sans-serif;
  }
}
.whitebg {
  background-color: white;
}
.section1-cont {
  border: 1px solid transparent;
}
section {
  width: 90vw;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  section {
    margin-bottom: 10vh;
  }
}
section.blueh1 h1 {
  color: #3964AA;
}
section h1 {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 27px;
}
section .container1 {
  width: 80vw;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  gap: 4vw;
  justify-content: center;
}
section .container1 > div {
  flex: 1;
  border-radius: 0.5vw;
  box-shadow: 0px 0px 5px lightgray;
  background-color: #f8f9fb;
  padding: 5px;
}
section .container1 > div .image {
  height: 20vh;
  margin: 10px;
  margin-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container1 > div h2 {
  text-align: center;
  font-size: 20px;
  color: #27251f;
}
section .container1 > div p {
  text-align: center;
  color: #524d41;
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px;
  line-height: 1.5;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  section {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  section .container1 {
    flex-direction: column;
    gap: 2vh;
  }
  section .container1 > div {
    transform: scale(0.8, 0.8);
  }
}
.section2Cont {
  border: 1px solid white;
  background-image: url('./images/hero2.jpg');
}
.container2 {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  gap: 4vw;
}
.container2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container2 > div.navLocal {
  flex: 1;
  flex-direction: column;
  gap: 3vh;
}
.container2 > div.navLocal a {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #f2f2f2;
  text-align: center;
  background-color: #fff;
  color: #424242;
  transform: scale(0.8, 0.8);
  transition: 0.05s ease;
  box-shadow: 2px 2px 3px 1px #424242;
}
.container2 > div.navLocal a:hover {
  transform: scale(0.85, 0.85);
  box-shadow: 0px 0px 5px 1px #424242;
  border-radius: 2px;
  cursor: pointer;
}
.container2 > div.navLocal a.active {
  transform: scale(0.9, 0.9);
}
.container2 > div.view {
  background-color: rgba(89, 89, 89, 0.30980392);
  border-radius: 15px;
  box-shadow: 0px 0px 5px inset lightgray, 0px 0px 5px #424242;
  flex: 3;
  padding: 20px;
}
.container2 > div.view > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container2 > div.view > div#business {
  display: none;
}
.container2 > div.view > div#institution {
  display: none;
}
.container2 > div.view .toggleItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.container2 > div.view .toggleItem p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .container2 {
    height: 500px;
    flex-direction: column;
  }
  .container2 > div {
    flex: 1;
  }
  .container2 > div.navLocal {
    flex-direction: row;
    gap: 0px;
  }
  .container2 > div.navLocal a {
    transform: scale(0.6, 0.6);
  }
  .container2 > div.view {
    width: 90vw;
    padding: 0px;
    display: flex;
  }
  .container2 > div.view .toggleItem {
    flex: 1;
  }
  .container2 > div.view .toggleItem h2 {
    text-align: center;
  }
  .container2 > div.view .toggleItem p {
    padding: 10px;
    text-align: center;
  }
}
.section3 .container3 {
  padding: 0px;
  background-color: #f3f3f3;
  margin-left: -5vw;
  margin-right: -5vw;
  height: 25vh;
  padding-top: 2vh;
}
.section3 .container3 h1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 3vh;
}
.section3 .container3 div {
  display: flex;
  gap: 2vw;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
}
.section3 .container3 div img {
  width: 65px;
  height: 25px;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .section3 .container3 {
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .section3 .container3 div {
    flex-wrap: wrap;
  }
  .section3 .container3 div img {
    padding: 10px;
    width: 25vw;
    height: auto;
    transform: scale(0.6, 0.6);
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .section3 {
    width: 100vw;
  }
}
section .container4 {
  margin: auto;
}
section .container4 h1 {
  margin-bottom: 0vh;
}
section .container4 > div {
  display: flex;
  background-color: #f8f9fb;
  border-radius: 10px;
  padding: 4vw 2vw;
  transform: scale(0.8, 0.8);
}
section .container4 > div .navLocal {
  background-color: white;
  padding-top: 20px;
  flex: 1;
  border-radius: 10px;
}
section .container4 > div .navLocal ul {
  height: 100%;
  list-style: none;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  overflow-y: scroll;
  max-height: 60vh;
  font-family: sans-serif;
}
section .container4 > div .navLocal ul li {
  padding: 20px;
  border: 1px solid #eaeff8;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  color: #27251f;
}
section .container4 > div .navLocal ul li:hover {
  border: none;
  background-color: #F26821;
  color: white;
  border: 1px solid transparent;
}
section .container4 > div .view {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vw;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 60vh;
  padding: 3vw;
  padding-top: 10px;
}
section .container4 > div .view > div {
  transform: scale(0.8, 0.8);
  flex: 1;
  min-width: 30%;
  max-width: 19vw;
  border: 1px solid transparent;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  transition: 0.3s ease;
}
section .container4 > div .view > div:hover {
  box-shadow: 0px 0px 7px #424242;
  transform: scale(0.9, 0.9);
}
section .container4 > div .view > div h3 {
  text-align: center;
  color: #27251f;
}
section .container4 > div .view > div img {
  width: 60%;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  section .container4 > div {
    margin-top: 5vh;
    transform: scale(1, 1);
    flex-direction: column;
    padding: 5px;
    padding-top: 3vh;
  }
  section .container4 > div .navLocal {
    border-radius: 0px;
    padding: 3px;
    box-shadow: 0px 0px 2px #424242;
  }
  section .container4 > div .navLocal ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
  }
  section .container4 > div .navLocal ul li {
    transform: scale(0.8, 0.8);
  }
  section .container4 > div .view > div {
    margin: auto;
    flex: none;
    max-width: none;
  }
  section .container4 > div .view > div h3 {
    max-width: 250px;
  }
}
.enqCont {
  background-color: #213e7f;
}
.enqCont .enquiries {
  width: 30vw;
  margin: auto;
  border-radius: 1vh;
  margin-top: 10vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.enqCont .enquiries h1 {
  color: white;
  margin-top: 0px;
  text-align: center;
}
.enqCont .enquiries form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enqCont .enquiries form input {
  width: 100%;
  margin: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #3964AA;
  transition: 0.3s ease;
}
.enqCont .enquiries form input:focus {
  outline: none;
  transform: scale(1.1, 1.1);
}
.enqCont .enquiries form button {
  display: inline-block;
  margin: auto;
  width: 18vw;
  padding: 17px 10px;
  background-color: #d4500c;
  color: white;
  margin-top: 5vh;
  border: none;
  font-size: 18px;
  border-radius: 10px;
}
.enqCont .enquiries form button:hover {
  transition: 0.3s ease;
  background-color: #F26821;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .enqCont .enquiries {
    width: auto;
  }
  .enqCont .enquiries form input {
    width: 70%;
    transform: scale(0.8, 0.8);
  }
  .enqCont .enquiries form input:focus {
    outline: none;
    transform: scale(1, 1);
  }
  .enqCont .enquiries form button {
    width: 50vw;
  }
}
footer {
  height: 50vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: #162a57;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h5 {
  font-family: sans-serif;
}
footer ul {
  width: 80%;
  font-family: sans-serif;
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  color: white;
}
footer ul li div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  font-weight: 100;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer {
    height: auto;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    margin-bottom: 2vh;
  }
}
.copyright {
  background-color: #141414;
  color: white;
  padding: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 14px;
}
.copyright .socials {
  display: flex;
  gap: 1vw;
}
.copyright .socials a {
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .copyright {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
