<!-- copyright -->
    <div class="copyright">
      <p>© 2022 Techschool. © 2021–2022 Peakware Academy Limited</p>
      <!-- <p class="socials">
        <a href="https://techschool.peakwareacademy.com/">IG</a>
        <a href="https://techschool.peakwareacademy.com/">Tw</a>
        <a href="https://techschool.peakwareacademy.com/">In</a>
        <a href="https://techschool.peakwareacademy.com/">Fb</a>
      </p> -->
    </div>
    <!-- end of copyright -->