<!-- enquiries -->
<div class="enqCont" id="contact-us-section">
  <div class="enquiries">
    <!-- <h1>Contact Us</h1>
        <p>Any remarks? Just leave a message!</p> -->
    <div>
      <div class="contact">
        <h2>Contact Information</h2>
        <p>Leave us a message our team would get back to you within 24 hours</p>
        <div class="gap"></div>

        <div>
          <span class="icon">
            <img src="/svgs/location.svg" alt="">
          </span>
          <p>Our Address: 21 Prince Adelowo Adedeji Street, <br> Lekki Phase 1, Lagos</p>
        </div>
        <div class="gap2"></div>
        <div>
          <span class="icon">
            <img src="/svgs/mail_open.svg" alt="">
          </span>
          <p><a style="color: white;" href="mailto:training@peakwareacademy.com">training@peakwareacademy.com</a></p>
        </div>
        <div class="gap2"></div>
        <div>
          <span class="icon">
            <img src="/svgs/phone.svg" alt="">
          </span>
          <p><span>+234 809 690 4953</span> 
        </div>

        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="social">
          <span class="icon">
            <svg
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50" />
            </svg>
          </span>
          <span class="icon">
            <svg
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50" />
            </svg>
          </span>
          <span class="icon">
            <svg
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50" />
            </svg>
          </span>
          <span class="icon">
            <svg
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50" />
            </svg>
          </span>
        </div>
      </div>
      <form>
        <!-- <h2>Send us a message</h2>
            <p>We'll get back to you soon!</p> -->
        <div>
          <input type="text" placeholder="Full name" />
          <input type="text" placeholder="Email" />
        </div>
        <div>
          <input type="text" placeholder="Company name" />
          <input type="text" placeholder="Phone number" />
        </div>
        <div>
          <textarea class="message" placeholder="Your message"></textarea>
        </div>
        <div class="buttonCont">
          <button>
            <span>Send message</span>
            <span>
              <svg
                viewBox="0 0 76 88"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.51958 1.75807L74.1295 44.0024L0.739832 86.6283L0.664203 57.4845L22.3139 44.4936L23.0508 44.0515L22.3022 43.6294L0.596487 31.3901L0.51958 1.75807Z"
                  fill="white"
                  stroke="#213E7F"
                />
              </svg>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end ofenquiries -->
