<!-- footer -->
<footer>
  <ul>
    <li>
      <h4>Features Programs</h4>
      <div>
        <a>Business Analytics</a>
        <a>SQL</a>
        <a>Data Engineer</a>
        <a>Data Analyst</a>
        <a>Intro to Programming</a>
        <a>Digital Marketing</a>
      </div>
    </li>
    <li>
      <h4>Peakware Tech-School</h4>
      <div>
        Azure
        <a>Cloud Computing</a>
        <a>Office 365</a>
        <a>Artificial Intelligence</a>
        <a>Deep Learning</a>
        <a>Cyber Security</a>
      </div>
    </li>
    <li>
      <h4>Programming Courses</h4>
      <div>
        C++
        <a>Data Engineer</a>
        <a>Cloud Developer</a>
        <a>Java Programming</a>
        <a>Cloud DevOps Engineer</a>
        <a>AWS Cloud Architect</a>
      </div>
    </li>
    <li>
      <h4>Data Science Courses</h4>
      <div>
        <a>Data Architect</a>
        <a>Data Product Manager</a>
        <a>SQL</a>
        <a>Data Analyst</a>
        <a>Data Scientist</a>
        <a>Predictive Analytics for Business Data Scientist</a>
      </div>
    </li>
  </ul>
</footer>
<!-- end of footer -->
