<!-- hero -->
    <div class="hero-cont whitebg">
      <div class="bg"></div>
      <div class="hero">
        <h1>
          Expert IT Training <br />
          When and Where <br />
          You Need It
        </h1>
        <p>
          Learn without limits. Build skills with courses,certificates, and
          degrees online from world class universities and companies. Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, non.
        </p>
        <a class="cta" href="#getStarted">
          <span class="text">Get Started</span> 
          <span class="arrow"> 
          <svg  viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="49.5" fill="white" stroke="#F26821"/>
            <path d="M80.0699 50.0519L35.2273 76.0972L35.0927 24.2397L80.0699 50.0519Z" fill="#F26821"/>
          </svg>
  
          </span></a
        >
      </div>
    </div>
    <!-- end of hero -->