<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/styles/index.css" />
<link rel="stylesheet" type="text/css" href="/styles/animate.css" />
<title>
  Techschool – Peakware Academy deliver On-site, Local, International and On
  demand training. Our training are designed to unlock individual and
  organizational potential for growth bringing both in individual and
  organizational efficiency.
</title>
