<!-- nav -->

<!-- lg -->
<div class="navContainer lg">
  <nav>
    <div class="nav">
      <div class="logo">
        <img src="/images/Peakware.svg" alt="" />
      </div>
      <div class="links">
        <span>
          <a id="courses-and-certification">
            Courses and Certifications
            <span class="arrow">
              <svg
                viewBox="0 0 76 88"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.242079 87.4956L75.1295 43.9998L0.017334 0.893341L0.094305 30.5532L24.0566 44.0649L0.166573 58.4001L0.242079 87.4956Z"
                  fill="#213E7F"
                />
              </svg>
            </span>
          </a>
        </span>
        <span>
          <a id="corporate-training">
            Corporate Training
            <span class="arrow">
              <svg
                width="20px"
                height="20px"
                viewBox="0 0 76 88"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.242079 87.4956L75.1295 43.9998L0.017334 0.893341L0.094305 30.5532L24.0566 44.0649L0.166573 58.4001L0.242079 87.4956Z"
                  fill="#213E7F"
                /></svg></span>
          </a>
        </span>
        <span>
          <a id="tech-training-for-education">
            Tech Training For Education
            <span class="arrow">
              <svg
                viewBox="0 0 76 88"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.242079 87.4956L75.1295 43.9998L0.017334 0.893341L0.094305 30.5532L24.0566 44.0649L0.166573 58.4001L0.242079 87.4956Z"
                  fill="#213E7F"
                /></svg></span>
          </a>
        </span>
      </div>
      <div class="contact">
        <a id="about-us-btn"
          >About Us
          <svg
            viewBox="0 0 76 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.51958 1.75807L74.1295 44.0024L0.739832 86.6283L0.664203 57.4845L22.3139 44.4936L23.0508 44.0515L22.3022 43.6294L0.596487 31.3901L0.51958 1.75807Z"
              fill="white"
              stroke="#213E7F"
            /></svg></a>
        <div class="line"></div>
        <a id="contact-us-btn"
          >Contact Us
          <svg
            viewBox="0 0 76 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.51958 1.75807L74.1295 44.0024L0.739832 86.6283L0.664203 57.4845L22.3139 44.4936L23.0508 44.0515L22.3022 43.6294L0.596487 31.3901L0.51958 1.75807Z"
              fill="white"
              stroke="#213E7F"
            /></svg></a>
      </div>
    </div>
  </nav>
</div>
<!-- sm -->
<div class="navContainer sm">
  <nav>
    <div class="nav">
      <div class="logo">
        <img src="/images/Peakware-Techsool-logo.png" alt="" />
      </div>
      <div id="toggle" class="toggle">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </nav>
  <div id="dropdown" class="dropdown">
    <div class="links">
      <span>
        <a id="courses-and-certification"> Courses and Certifications </a>
      </span>
      <span>
        <a id="corporate-training"> Corporate Training </a>
      </span>
      <span>
        <a id="tech-training-for-education"> Tech Training For Education </a>
      </span>
      <span>
        <a id="about-us">About Us</a>
      </span>
      <span>
        <a id="contact-us">Contact Us</a>
      </span>
    </div>
  </div>
</div>
<!-- end of nav -->
