<!-- section2 -->
<div class="section2Cont" id="about-us-section">
  <section>
    <h1>There's Something For Everyone</h1>
    <div class="container">
      <div>
        <div class="img individual">
          <h4>For Individuals</h4>
        </div>
        <h3>Transform your career.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          ducimus nesciunt odio ullam, tempora voluptate perspiciatis rerum
          natus libero omnis <a href="#" class="learn-more">learn more</a>
        </p>
      </div>
      <div>
        <div class="img business">
          <h4>For Business</h4>
        </div>
        <h3>Transform your business.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          ducimus nesciunt odio ullam, tempora voluptate perspiciatis rerum
          natus libero omnis <a href="#" class="learn-more">learn more</a>
        </p>
      </div>
      <div>
        <div class="img institution">
          <h4>For Institution</h4>
        </div>
        <h3>Transform your institution curriculums</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          ducimus nesciunt odio ullam, tempora voluptate perspiciatis rerum
          natus libero omnis <a href="#" class="learn-more">learn more</a>
        </p>
      </div>
    </div>
  </section>
</div>
<!-- end of section2 -->
