<!-- section4 -->
<section id="courses" class="blueh1 section4">
  <div class="container4">
    <h1>Explore our training categories</h1>
    <div>
      <div class="menu">
        <div class="menuIcon" id="menuIcon">
          <div></div>
          <div class="short"></div>
        </div>
        <div class="text">MICROSOFT</div>
      </div>
      <div class="navLocal">
        <ul id="s4nav">
          <li class="current" id="microsoft">MICROSOFT OFFICE</li>
          <li id="adobe">ADOBE</li>
          <li id="Mtechnical">MICROSOFT TECHNICAL</li>
          <li id="analytic">ANALYTIC</li>
          <li id="technical">TECHNICAL</li>
          <li id="project">PROJECT/SERVICE MANAGEMENT</li>
          <li id="digital">DIGITAL TRANSFORMATION TECHNOLOGIES</li>
          <li id="product">PRODUCT PROJECT MANAGEMENT</li>
          <li id="leadership">LEADERSHIP AND DEVELOPMENT</li>
          <li id="business">BUSINESS APPLICATIONS</li>
        </ul>
      </div>
      <div class="view" id="view">
        <div></div>
      </div>
    </div>
  </div>
</section>
<!-- end of section4 -->
