<!-- section3 -->
<div class="section3-cont">
  <section class="section3">
    <div class="container3">
      <h1>Licensed by Industry</h1>

      <div>
        <img src="./images/industry/alteryx-logo.png" alt="" />
        <img src="./images/industry/aws-logo.png" />
        <img src="./images/industry/google-logo.png" />
        <img src="./images/industry/ibm-logo.png" />
        <img src="./images/industry/intel-logo.png" />
        <img src="./images/industry/microsoft-logo.png" />
        <img src="./images/industry/mode-logo.png" />
        <img src="./images/industry/ui-path-logo.png" />
      </div>
    </div>
  </section>
</div>
<!-- end of section3 -->
